src/main/mule/hello-world-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fe051640-1ac4-4978-9927-caf61bb37f3b" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="aa83bf65-5bac-4530-a5c1-086dc297c940" file="dev-properties.yaml" />
	<flow name="hello-world-ci-cdFlow" doc:id="9f42a25e-0075-498e-85b1-4833c2be3859" >
		<http:listener doc:name="Listener" doc:id="0729c98b-b23d-4aae-88a7-f71c565d1814" config-ref="HTTP_Listener_config" path="/test-ci-cd"/>
		<set-payload value="CI/CD IS SUCCESSFUL" doc:name="Set Payload" doc:id="e8e0da0a-8080-49b3-86ce-e699f5d274d7" />
		<logger level="INFO" doc:name="Logger" doc:id="a19d5b93-b6ea-4f67-86a2-1458f553dddc" message="#[payload]"/>
	</flow>
</mule>
